<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset="utf-8">
        <title>MOODLE Login</title>
        <link rel='stylesheet' type='text/css' href='../static/main.css'>
    </head>

    <body>
        <form action='painel' method='post' class='form'>
            <div class='form'>
                <label>USERNAME:</label>
                <input type='text' name='username'>
            </div>
            <div class='form'>
                <label>PASSWORD:</label>
                <input type='password' name='password'>
            </div>
            <div>
                <input type='checkbox' name='remember' value='true'>
                <label for='remember'>remember me</label>
                <input type='submit' value='login'>
            </div>
            
        </form>
    </body>
</html>